<header>
    报名{{'('+messages.length+'人)'}}

    <div class="header-left">
        <button ng-click="btnReturn()" class="btn btn-primary btn-lg">返回</button>
    </div>
    <div class="header-right" ng-switch="apply_status">
        <button ng-switch-when="2" ng-disabled="true">开始</button>
        <button ng-switch-when="0" ng-click="btnStart()" class="btn btn-primary btn-lg">开始</button>
        <button ng-switch-when="1" ng-click="btnEnd()"  class="btn btn-primary btn-lg">结束</button>
    </div>
</header>
<div class="row">
        <table class="table table-striped" ng-repeat="message in messages">
            <tr class="col-sm-5 col-md-6">
                <td>{{message.name}}</td>
                <td>{{message.phone}}</td>
            </tr>
        </table>
</div>